student {
    display: block;
    margin-bottom: 10px;
  }
  
  usn, name, email {
    display: block;
    font-weight: bold;
  }
  
  name {
    color: blue;
  }
  
  email {
    color: red;
  }
  